body{
    margin:0;
    padding:20px;
    font-family:Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #f58529, #dd2a7b, #8134af, #515bd4);
    background-size: cover;
    text-align: center;
    color: white;
}
h1{
    font-size: 40px;
    margin-bottom: 5px;
    font-weight: bold;
}
h2{
    margin-bottom: 30px;
    color:#ffe7f9;
}
.section-container{
    display: flex;
    justify-content: center;
    gap:30px;
    flex-wrap:wrap;
}
.card{
    background: white;
    width:250px;
    padding:20px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    transition: 0.3s;
    color: #444;
}
.card:hover{
    transform:translateY(-10px);
    box-shadow:0 12 28 rgba(0,0,0,0.25)
}
.card img{
    width:120px;
    height:120px;
    object-fit: contain;
    margin-bottom: 15px;
}
.card h3{
    margin-bottom: 15px;
    color:#dd2a7b;
    font-size: 22;
}
.card p{
    color:#666
}
.colors{
    display: flex;
    justify-content: center;
    gap:15px;
    margin-bottom: 20px;
}
.color{
    width:35px;
    height:35px;
    border-radius: 50px;
    cursor:pointer;
    border:3px solid white;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
}
.sticker{
    font-size: 35px;
    cursor: pointer;
    margin:5px;
    transition: 0.3s;
}
.sticker:hover{
    transform:scale(1.3);
}
